<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.com.lkm.shen.vampirehelper">

    <application
        android:name=".VampireHelper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppPrimaryTheme">
        <activity
            android:name=".View.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppPrimaryTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.CreateCharacterActivity"
            android:label="@string/title_activity_chronicles"
            android:noHistory="true"
            android:theme="@style/AppPrimaryTheme.NoActionBar"></activity>
    </application>

</manifest>